<!DOCTYPE html>

<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{{ STATIC_URL }}books/js/jquery-2.1.1.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}books/css/style.css">
    <title>{% block title %}Library App{% endblock %}</title>
</head>

{% bootstrap_messages %}

<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
