{% extends 'books/base.html' %}

{% load book_extras %}

{% block content %}
<script src="{{ STATIC_URL }}books/js/jExpand.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}books/js/search.js" type="text/javascript" charset="utf-8"></script>

<div style="padding:20px">
   <!-- <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table> -->

            <h3>Results</h3>
            Click on a row to show more information about that book.<br>
            Books that are only available in electronic form are highlighted in blue.<br><br>

        <table id="results" border="1" width="100%">
            <tr>
                <th style="width:30%">Title</th>
                <th>Author(s)</th>
            </tr>
          
            {% for result in page.object_list %}
            <tr {% if result.object.is_ebook_only %} class="ebook" {%endif %}>
                <td>{{result.object.title}}</td>
                <td>
                {% for author in result.object.authors.all %}    
                    {{ author.name }} {% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %}
                
             </tr>
             <tr {% if result.object.is_ebook_only %} class="ebook" {%endif %}>
                <!--<td colspan="2">-->
                <td valign="top">
                <p>Subjects:
                {% for subject in result.object.subjects.all %}
                    <a href="/subjects/all/{{ subject.name }}">{{subject.name}}</a> {% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %} 
                <p>
                Dewey Decimal: {{ result.object.dewey_decimal }}<p>
                {% if not result.object.is_ebook_only %}
                Location: {{ result.object.location }}<p>
                Owner: {{ result.object.owner }} <p>
                {% endif %}
                {% if result.object.ebook %}
                <a id="ebook_link" href="{{ MEDIA_URL }}{{result.object.ebook}}">Download e-book</a><p>
                {% endif %}
                <a href="/entry/{{ result.object.pk }}">Edit this book's info</a>
                </td>
                <td valign="top">
                Description: {{ result.object.description }}           
                </td>
             </tr>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

             </table>
            {% if page.has_previous or page.has_next %}
                <div> 
                    {% if page.has_previous %}<a href="?{% url_replace request 'page' page.previous_page_number %}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?{% url_replace request 'page' page.next_page_number %}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        
    </form>
</div>
{% endblock %}
